@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.logo {
  height: 50px; 
  width: auto;
  margin-right: 10px; 
}
.nav-brand{
  display: flex;
  margin-left: 30px;
  text-decoration: none;
}

.brand-name {
  color: #FFFFFF;
  font-size: 19px; 
  font-weight: 500;
  align-self: center; 
  font-family: 'Muli', sans-serif; 
  text-decoration: none;
}
.navbar {
  background-color: #00003C; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  margin-right: 20px;
  
}

.nav-links {
  display: flex;
}

.nav-link {
  color: #FFFFFF;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  font-family:'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s, transform 0.3s; 
}

.nav-link:hover, .nav-link:active {
  color: #b5c71a; 
  transform: scale(1.1);
}
 


.nav-buttonsdd {
  display: flex;
  align-items: center;
}

.nav-buttonoooo {
  padding: 0.65rem 1.4rem;
  background-color: transparent; 
  color: #FFFFFF;
  border: none;
 
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family:'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid white;
}

.nav-buttonoooo:hover {
  background-color: #043aae; 
 
}

.nav-buttonsss {
  margin-left: 10px; 
  background-color: #1649CF;
  color: #fff;
  text-align: center;
  padding: 9px 15px;
  font-size: 20px;
  font-weight: 500;
  transition: background-color .3s;
  margin-right: 60px;
  font-family:'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  border: 1px solid white;
}

.nav-buttonsss:hover {
  background-color: #043aae;
}

/* Base styles */
.hamburger {
  display: none;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001; 
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0; 
    overflow: hidden;
    background-color: #00003C; 
    transition: width 0.3s ease; 
    display: flex;
    align-items: center;
  }

  .nav-links.open {
    width: 100%; 
    justify-content: center;
  }

  .nav-link {
    text-align: center;
    padding: 10px;
    width: 100%;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s; 
  }

  .nav-links.open .nav-link {
    opacity: 1;
    transform: translateX(0);
  }

  .navbar {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
    padding: 20px;
    width: 100%; /* Make sure the navbar covers full width */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for depth */
  }

  .nav-brand {
    width: 100%;
 
    align-items: center;
  }

  .nav-buttonsdd {

    display: none;
  }

  .nav-buttonoooo{
 display: none;
  
  }
  .nav-buttonsss {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
}

